In [1]:
import pandas as pd
import numpy as np

### Load CSVs

In [2]:
players_df = pd.read_csv("./atp_players.csv")
rankings_20s_df = pd.read_csv("./atp_rankings_20s.csv")
rankings_curr_df = pd.read_csv("./atp_rankings_current.csv")
matches_2024_df = pd.read_csv("./atp_matches_2024.csv")

C:\Users\royzh\AppData\Local\Temp\ipykernel_22736\2663907680.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  players_df = pd.read_csv("./atp_players.csv")

In [3]:
display(players_df.head())
display(players_df.describe(include='all'))

   player_id name_first name_last hand         dob  ioc  height wikidata_id
0     100001    Gardnar    Mulloy    R  19131122.0  USA   185.0      Q54544
1     100002     Pancho    Segura    R  19210620.0  ECU   168.0      Q54581
2     100003      Frank   Sedgman    R  19271002.0  AUS   180.0     Q962049
3     100004   Giuseppe     Merlo    R  19271011.0  ITA     NaN    Q1258752
4     100005    Richard  Gonzalez    R  19280509.0  USA   188.0      Q53554

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id
count,65989.000000,65068,65941,65973,4.758700e+04,65319,4159.000000,4894
unique,NaN,14488,40250,4,NaN,228,NaN,4825
top,NaN,David,Smith,U,NaN,USA,NaN,Q102191659
freq,NaN,594,170,47800,NaN,13228,NaN,2
mean,142929.612435,NaN,NaN,NaN,1.981632e+07,NaN,183.478480,NaN
std,35442.144892,NaN,NaN,NaN,2.012633e+05,NaN,9.346412,NaN
min,100001.000000,NaN,NaN,NaN,1.834000e+07,NaN,3.000000,NaN
25%,116513.000000,NaN,NaN,NaN,1.977013e+07,NaN,180.000000,NaN
50%,133010.000000,NaN,NaN,NaN,1.985110e+07,NaN,183.000000,NaN
75%,149508.000000,NaN,NaN,NaN,1.994011e+07,NaN,188.000000,NaN
max,213704.000000,NaN,NaN,NaN,2.023041e+07,NaN,211.000000,NaN

In [4]:
missing = players_df.isnull()
display(missing)
display(missing.sum())

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
65984,False,False,False,False,True,False,True,True
65985,False,False,False,False,True,False,True,True
65986,False,False,False,False,True,False,True,True
65987,False,False,False,False,True,False,True,True
65988,False,False,False,False,True,False,True,True

player_id          0
name_first       921
name_last         48
hand              16
dob            18402
ioc              670
height         61830
wikidata_id    61095
dtype: int64

In [5]:
display(players_df.head())
display(players_df['name_first'].isna().value_counts())
display(players_df[players_df['name_first'] == 'Unknown'].head())

   player_id name_first name_last hand         dob  ioc  height wikidata_id
0     100001    Gardnar    Mulloy    R  19131122.0  USA   185.0      Q54544
1     100002     Pancho    Segura    R  19210620.0  ECU   168.0      Q54581
2     100003      Frank   Sedgman    R  19271002.0  AUS   180.0     Q962049
3     100004   Giuseppe     Merlo    R  19271011.0  ITA     NaN    Q1258752
4     100005    Richard  Gonzalez    R  19280509.0  USA   188.0      Q53554

name_first
False    65068
True       921
Name: count, dtype: int64

       player_id name_first    name_last hand  dob  ioc  height wikidata_id
36365     136381    Unknown      Unknown    U  NaN  USA     NaN         NaN
36368     136384    Unknown      Unknown    U  NaN  USA     NaN         NaN
38749     138765    Unknown      Unknown    U  NaN  ESP     NaN         NaN
56837     204551    Unknown  Garcia Cors    U  NaN  NaN     NaN         NaN
56845     204559    Unknown      Gynaudi    R  NaN  NaN     NaN         NaN

Player first names can be NaN, or unknown. Many players hvae all columns with NaNs. Many players with first name unknown, last name unknown.

In [6]:
players_missing_id = players_df['player_id'].isna()
display(players_missing_id.sum())
display(players_missing_id.value_counts())

np.int64(0)

player_id
False    65989
Name: count, dtype: int64

No players are missing ID. ID is guaranteed

In [7]:
players_missing_height = players_df['height'].isna()
display(players_missing_height.sum())
display(players_missing_height.value_counts())
valid_height_players = players_df[~players_missing_height]
display(valid_height_players[valid_height_players['name_last'] == "Schwartzman"])
display(valid_height_players['height'].describe())

np.int64(61830)

height
True     61830
False     4159
Name: count, dtype: int64

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id
6028,106043,Diego,Schwartzman,R,19920816.0,ARG,170.0,Q5274812

count    4159.000000
mean      183.478480
std         9.346412
min         3.000000
25%       180.000000
50%       183.000000
75%       188.000000
max       211.000000
Name: height, dtype: float64

most players are missing heights. these are mostly lesser known players, but relevant players have a height.

In [8]:
display(players_df['hand'].unique())
display(players_df['hand'].value_counts())
display(players_df['hand'].transpose())
display(players_df[players_df['hand'] == 'R'].shape[0] / players_df[players_df['hand'] == 'L'].shape[0])

display(players_df[players_df['hand'] == 'A'])

array(['R', 'L', 'U', 'A', nan], dtype=object)

hand
U    47800
R    16594
L     1566
A       13
Name: count, dtype: int64

0        R
1        R
2        R
3        R
4        R
        ..
65984    U
65985    U
65986    U
65987    U
65988    U
Name: hand, Length: 65989, dtype: object

10.596424010217113

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id
602,100603,Roland,Stadler,A,19590614.0,SUI,178.0,Q7360439
921,100922,Roberto,Arguello,A,19630512.0,ARG,173.0,Q284037
1262,101263,Luke,Jensen,A,19660618.0,USA,190.0,Q1365348
3977,103978,Rabie,Chaki,A,19820414.0,MAR,NaN,Q50345649
4199,104200,Juan Manuel,Elizondo,A,19830608.0,MEX,180.0,Q13513038
6372,106387,Mazen,Osama,A,19950209.0,EGY,NaN,NaN
26080,126096,Charles,Minc,A,19930709.0,FRA,NaN,NaN
34097,134113,Cing Yang,Meng,A,19980719.0,TPE,175.0,NaN
52777,200491,Florent,Casays,A,19960329.0,FRA,NaN,NaN
54509,202223,Nicola,Vidal,A,19990305.0,ITA,NaN,NaN
54519,202233,Sergey,Bolotov,A,19990514.0,RUS,NaN,NaN
59079,206793,Junior,Tavarez Pichardo,A,19990804.0,DOM,NaN,NaN
60338,208052,Matthew,Segura,A,20000919.0,USA,185.0,NaN

A = ambidextrous, R = right, L = left, U = unknown. Many handedness are unknown.

In [9]:
display(len(players_df['player_id']))
display(players_df['player_id'].nunique())

65989

65989

All player IDs are unique

### Missing values summary

In [10]:
missing = players_df.isnull().sum()

missing_pct = (missing / len(players_df) * 100).round(2)

missing_df = pd.DataFrame({
    'missing_percent': missing_pct,
    'missing_count': missing
})
display(missing_df)

             missing_percent  missing_count
player_id               0.00              0
name_first              1.40            921
name_last               0.07             48
hand                    0.02             16
dob                    27.89          18402
ioc                     1.02            670
height                 93.70          61830
wikidata_id            92.58          61095

### Basic statistics

In [11]:
display(players_df.describe(include='all'))

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id
count,65989.000000,65068,65941,65973,4.758700e+04,65319,4159.000000,4894
unique,NaN,14488,40250,4,NaN,228,NaN,4825
top,NaN,David,Smith,U,NaN,USA,NaN,Q102191659
freq,NaN,594,170,47800,NaN,13228,NaN,2
mean,142929.612435,NaN,NaN,NaN,1.981632e+07,NaN,183.478480,NaN
std,35442.144892,NaN,NaN,NaN,2.012633e+05,NaN,9.346412,NaN
min,100001.000000,NaN,NaN,NaN,1.834000e+07,NaN,3.000000,NaN
25%,116513.000000,NaN,NaN,NaN,1.977013e+07,NaN,180.000000,NaN
50%,133010.000000,NaN,NaN,NaN,1.985110e+07,NaN,183.000000,NaN
75%,149508.000000,NaN,NaN,NaN,1.994011e+07,NaN,188.000000,NaN
max,213704.000000,NaN,NaN,NaN,2.023041e+07,NaN,211.000000,NaN

### Checking uniqueness of primary key

In [12]:
display(players_df.shape[0])
display(players_df['player_id'].nunique())

65989

65989

player ID is suitable for a primary key. all are unique.

### Value distribution for categorical columns

In [13]:
categorical_cols = players_df.select_dtypes(include=['object'])[['hand', 'ioc']]
display(categorical_cols)
display(categorical_cols['hand'].value_counts())
display(categorical_cols['ioc'].value_counts())

      hand  ioc
0        R  USA
1        R  ECU
2        R  AUS
3        R  ITA
4        R  USA
...    ...  ...
65984    U  RUS
65985    U  ITA
65986    U  NZL
65987    U  AUS
65988    U  AUS

[65989 rows x 2 columns]

hand
U    47800
R    16594
L     1566
A       13
Name: count, dtype: int64

ioc
USA    13228
AUS     3285
GBR     3281
ESP     3081
GER     2742
       ...
TWN        1
NGA        1
NIC        1
BWA        1
DEU        1
Name: count, Length: 228, dtype: int64

### Analyze ranking table

In [14]:
display(rankings_20s_df.head())
display(rankings_curr_df)

   ranking_date  rank  player  points
0      20200106     1  104745    9985
1      20200106     2  104925    9055
2      20200106     3  103819    6590
3      20200106     4  106233    5825
4      20200106     5  106421    5705

       ranking_date  rank  player  points
0          20240101     1  104925   11245
1          20240101     2  207989    8855
2          20240101     3  106421    7600
3          20240101     4  206173    6490
4          20240101     5  126094    4805
...             ...   ...     ...     ...
92336      20241230  2156  210732       1
92337      20241230  2159  210575       1
92338      20241230  2160  212194       1
92339      20241230  2160  135939       1
92340      20241230  2162  211389       1

[92341 rows x 4 columns]

### Missing values in current rankings

In [15]:
missing = rankings_curr_df.isnull().sum()
display(missing)
display(rankings_curr_df.dtypes)

ranking_date    0
rank            0
player          0
points          0
dtype: int64

ranking_date    int64
rank            int64
player          int64
points          int64
dtype: object

### Missing values in 20s rankings

In [16]:
display(rankings_20s_df.isnull().sum())
display(rankings_20s_df.dtypes)

ranking_date    0
rank            0
player          0
points          0
dtype: int64

ranking_date    int64
rank            int64
player          int64
points          int64
dtype: object

### Checking date column

In [17]:
display(rankings_curr_df['ranking_date'].unique().shape[0])
rankings_curr_df['detailed_date'] = pd.to_datetime(rankings_curr_df['ranking_date'], format='%Y%m%d')
display(rankings_curr_df['detailed_date'].min())
display(rankings_curr_df['detailed_date'].max())

# rankings per date update
display(rankings_curr_df['ranking_date'].value_counts())

# total entries in a year
display(len(rankings_curr_df))

44

Timestamp('2024-01-01 00:00:00')

Timestamp('2024-12-30 00:00:00')

ranking_date
20241230    2162
20241223    2156
20241216    2153
20241209    2151
20241202    2148
20241125    2133
20241118    2131
20240909    2130
20240930    2129
20240826    2129
20240923    2126
20241111    2124
20241028    2123
20240819    2121
20240916    2121
20241014    2121
20240812    2120
20240805    2119
20241104    2118
20241021    2117
20240729    2116
20240722    2100
20240701    2094
20240624    2094
20240715    2093
20240610    2092
20240617    2089
20240520    2074
20240527    2074
20240422    2070
20240408    2070
20240415    2069
20240401    2068
20240506    2063
20240115    2058
20240129    2058
20240101    2057
20240108    2056
20240212    2056
20240205    2055
20240219    2052
20240318    2052
20240226    2051
20240304    2048
Name: count, dtype: int64

92341

Check uniqueness of a ranking_date + player_id combination

In [18]:
unique_combos = rankings_curr_df.groupby(['ranking_date', 'player']).size().count()
display(unique_combos)
display(len(rankings_curr_df))

x = rankings_curr_df[['ranking_date', 'player']].value_counts()
display(x)

dupes = rankings_curr_df.duplicated(subset=['player', 'ranking_date'], keep = False)
display(rankings_curr_df[dupes])

display(rankings_curr_df[dupes]['player'].unique())

np.int64(92297)

92341

ranking_date  player
20240715      208147    2
20240101      208147    2
20240527      208147    2
20240415      208147    2
20240506      208147    2
                       ..
20241230      213622    1
              213624    1
              213631    1
              213633    1
              213635    1
Name: count, Length: 92297, dtype: int64

       ranking_date  rank  player  points detailed_date
766        20240101   767  208147      32    2024-01-01
1278       20240101  1279  208147       5    2024-01-01
2821       20240108   765  208147      32    2024-01-08
3335       20240108  1279  208147       5    2024-01-08
4874       20240115   762  208147      32    2024-01-15
...             ...   ...     ...     ...           ...
86843      20241216   973  208147      15    2024-12-16
88818      20241223   796  208147      29    2024-12-23
88996      20241223   973  208147      15    2024-12-23
90974      20241230   796  208147      29    2024-12-30
91154      20241230   975  208147      15    2024-12-30

[88 rows x 5 columns]

array([208147])

Not unique, but it seems like it is just one person.

### Matches table analysis

In [19]:
display(matches_2024_df.head())
display(matches_2024_df.columns)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2024-0339,Brisbane,Hard,32,A,20240101,300,105777,2.0,NaN,...,58.0,44.0,16.0,11.0,8.0,9.0,14.0,2570.0,8.0,3660.0
1,2024-0339,Brisbane,Hard,32,A,20240101,299,208029,1.0,NaN,...,35.0,31.0,10.0,11.0,5.0,7.0,8.0,3660.0,39.0,1122.0
2,2024-0339,Brisbane,Hard,32,A,20240101,298,105777,2.0,NaN,...,39.0,24.0,14.0,10.0,5.0,7.0,14.0,2570.0,55.0,902.0
3,2024-0339,Brisbane,Hard,32,A,20240101,297,208029,1.0,NaN,...,51.0,31.0,16.0,10.0,3.0,5.0,8.0,3660.0,116.0,573.0
4,2024-0339,Brisbane,Hard,32,A,20240101,296,126128,NaN,NaN,...,37.0,27.0,16.0,10.0,5.0,8.0,39.0,1122.0,44.0,1021.0

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [20]:
display(matches_2024_df.head(3).T)

                                  0                1                2
tourney_id                2024-0339        2024-0339        2024-0339
tourney_name               Brisbane         Brisbane         Brisbane
surface                        Hard             Hard             Hard
draw_size                        32               32               32
tourney_level                     A                A                A
tourney_date               20240101         20240101         20240101
match_num                       300              299              298
winner_id                    105777           208029           105777
winner_seed                     2.0              1.0              2.0
winner_entry                    NaN              NaN              NaN
winner_name         Grigor Dimitrov      Holger Rune  Grigor Dimitrov
winner_hand                       R                R                R
winner_ht                     191.0            188.0            191.0
winner_ioc                      BUL              DEN              BUL
winner_age                     32.6             20.6             32.6
loser_id                     208029           126128           111442
loser_seed                      1.0              NaN              NaN
loser_entry                     NaN              NaN              NaN
loser_name              Holger Rune  Roman Safiullin  Jordan Thompson
loser_hand                        R                R                R
loser_ht                      188.0            185.0            183.0
loser_ioc                       DEN              RUS              AUS
loser_age                      20.6             26.4             29.7
score                    7-6(5) 6-4       6-4 7-6(0)          6-3 7-5
best_of                           3                3                3
round                             F               SF               SF
minutes                       136.0             97.0            109.0
w_ace                           8.0              7.0             10.0
w_df                            2.0              4.0              3.0
w_svpt                         74.0             72.0             67.0
w_1stIn                        52.0             48.0             45.0
w_1stWon                       40.0             39.0             39.0
w_2ndWon                       13.0             11.0             10.0
w_SvGms                        11.0             11.0             11.0
w_bpSaved                       3.0              1.0              6.0
w_bpFaced                       3.0              2.0              6.0
l_ace                           9.0              5.0              5.0
l_df                            3.0              5.0              1.0
l_svpt                         95.0             66.0             62.0
l_1stIn                        58.0             35.0             39.0
l_1stWon                       44.0             31.0             24.0
l_2ndWon                       16.0             10.0             14.0
l_SvGms                        11.0             11.0             10.0
l_bpSaved                       8.0              5.0              5.0
l_bpFaced                       9.0              7.0              7.0
winner_rank                    14.0              8.0             14.0
winner_rank_points           2570.0           3660.0           2570.0
loser_rank                      8.0             39.0             55.0
loser_rank_points            3660.0           1122.0            902.0

In [21]:
print(matches_2024_df.dtypes)

tourney_id             object
tourney_name           object
surface                object
draw_size               int64
tourney_level          object
tourney_date            int64
match_num               int64
winner_id               int64
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
loser_id                int64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
score                  object
best_of                 int64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
winner_rank           float64
winner_rank_points    float64
loser_rank            float64
loser_rank_points     float64
dtype: object

In [22]:
missing = matches_2024_df.isnull().sum()
missing_pct = (missing / len(matches_2024_df)*100).round(2)
missing_df = pd.DataFrame({
    'missing_count': missing,
    'missing_pct': missing_pct
})
display(missing_df)

                    missing_count  missing_pct
tourney_id                      0         0.00
tourney_name                    0         0.00
surface                         0         0.00
draw_size                       0         0.00
tourney_level                   0         0.00
tourney_date                    0         0.00
match_num                       0         0.00
winner_id                       0         0.00
winner_seed                  1782        57.93
winner_entry                 2599        84.49
winner_name                     0         0.00
winner_hand                     0         0.00
winner_ht                      19         0.62
winner_ioc                      0         0.00
winner_age                      1         0.03
loser_id                        0         0.00
loser_seed                   2319        75.39
loser_entry                  2358        76.66
loser_name                      0         0.00
loser_hand                      0         0.00
loser_ht                       50         1.63
loser_ioc                       0         0.00
loser_age                       1         0.03
score                           0         0.00
best_of                         0         0.00
round                           0         0.00
minutes                       238         7.74
w_ace                          60         1.95
w_df                           60         1.95
w_svpt                         60         1.95
w_1stIn                        60         1.95
w_1stWon                       60         1.95
w_2ndWon                       60         1.95
w_SvGms                        61         1.98
w_bpSaved                      60         1.95
w_bpFaced                      60         1.95
l_ace                          60         1.95
l_df                           60         1.95
l_svpt                         60         1.95
l_1stIn                        60         1.95
l_1stWon                       60         1.95
l_2ndWon                       60         1.95
l_SvGms                        61         1.98
l_bpSaved                      60         1.95
l_bpFaced                      60         1.95
winner_rank                    17         0.55
winner_rank_points             17         0.55
loser_rank                     40         1.30
loser_rank_points              40         1.30

In [23]:
# date analysis
matches_2024_df['parsed_date'] = pd.to_datetime(matches_2024_df['tourney_date'], format='%Y%m%d')

display(matches_2024_df[2500:2520])
display(matches_2024_df['parsed_date'].max())
display(matches_2024_df['parsed_date'].min())

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,parsed_date
2500,2024-5014,Shanghai Masters,Hard,96,M,20241002,308,134868,NaN,NaN,...,21.0,7.0,8.0,4.0,7.0,40.0,1305.0,28.0,1571.0,2024-10-02
2501,2024-5014,Shanghai Masters,Hard,96,M,20241002,307,100644,2.0,NaN,...,29.0,12.0,9.0,7.0,10.0,3.0,6705.0,101.0,574.0,2024-10-02
2502,2024-5014,Shanghai Masters,Hard,96,M,20241002,306,106121,NaN,NaN,...,47.0,20.0,15.0,4.0,6.0,93.0,619.0,304.0,170.0,2024-10-02
2503,2024-5014,Shanghai Masters,Hard,96,M,20241002,305,122298,NaN,NaN,...,29.0,12.0,10.0,1.0,3.0,67.0,799.0,203.0,287.0,2024-10-02
2504,2024-5014,Shanghai Masters,Hard,96,M,20241002,304,106148,NaN,NaN,...,39.0,12.0,13.0,9.0,14.0,54.0,955.0,57.0,896.0,2024-10-02
2505,2024-5014,Shanghai Masters,Hard,96,M,20241002,303,133430,NaN,Q,...,39.0,17.0,12.0,4.0,6.0,102.0,568.0,49.0,1081.0,2024-10-02
2506,2024-5014,Shanghai Masters,Hard,96,M,20241002,302,105453,NaN,WC,...,40.0,23.0,14.0,13.0,16.0,153.0,388.0,38.0,1328.0,2024-10-02
2507,2024-5014,Shanghai Masters,Hard,96,M,20241002,301,124186,NaN,NaN,...,25.0,7.0,12.0,0.0,6.0,74.0,748.0,89.0,649.0,2024-10-02
2508,2024-5014,Shanghai Masters,Hard,96,M,20241002,300,208260,NaN,Q,...,25.0,16.0,11.0,6.0,10.0,131.0,452.0,53.0,984.0,2024-10-02
2509,2024-5014,Shanghai Masters,Hard,96,M,20241002,299,205734,NaN,NaN,...,42.0,19.0,15.0,6.0,10.0,88.0,656.0,170.0,341.0,2024-10-02
2510,2024-5014,Shanghai Masters,Hard,96,M,20241002,298,209992,NaN,NaN,...,32.0,6.0,10.0,6.0,10.0,51.0,1045.0,128.0,460.0,2024-10-02
2511,2024-5014,Shanghai Masters,Hard,96,M,20241002,297,200059,NaN,WC,...,22.0,7.0,9.0,3.0,7.0,560.0,63.0,83.0,681.0,2024-10-02
2512,2024-5014,Shanghai Masters,Hard,96,M,20241002,296,104792,NaN,NaN,...,24.0,11.0,10.0,3.0,7.0,46.0,1160.0,96.0,599.0,2024-10-02
2513,2024-5014,Shanghai Masters,Hard,96,M,20241002,295,209070,NaN,NaN,...,21.0,13.0,10.0,6.0,9.0,92.0,622.0,211.0,278.0,2024-10-02
2514,2024-5014,Shanghai Masters,Hard,96,M,20241002,294,104926,NaN,NaN,...,43.0,22.0,16.0,5.0,8.0,81.0,691.0,42.0,1265.0,2024-10-02
2515,2024-5014,Shanghai Masters,Hard,96,M,20241002,293,126239,NaN,NaN,...,37.0,18.0,11.0,11.0,12.0,62.0,843.0,309.0,167.0,2024-10-02
2516,2024-5014,Shanghai Masters,Hard,96,M,20241002,292,200221,NaN,NaN,...,37.0,12.0,12.0,1.0,5.0,64.0,825.0,105.0,557.0,2024-10-02
2517,2024-5014,Shanghai Masters,Hard,96,M,20241002,291,126846,NaN,Q,...,36.0,15.0,13.0,3.0,6.0,91.0,624.0,72.0,764.0,2024-10-02
2518,2024-5014,Shanghai Masters,Hard,96,M,20241002,290,210150,NaN,NaN,...,35.0,12.0,14.0,2.0,6.0,65.0,822.0,45.0,1207.0,2024-10-02
2519,2024-5014,Shanghai Masters,Hard,96,M,20241002,289,207686,NaN,NaN,...,27.0,11.0,9.0,2.0,4.0,58.0,875.0,332.0,153.0,2024-10-02

Timestamp('2024-12-18 00:00:00')

Timestamp('2024-01-01 00:00:00')

Simple tournament analytics

In [24]:
display(matches_2024_df['tourney_name'].nunique())
display(matches_2024_df['tourney_name'].unique())

160

array(['Brisbane', 'United Cup', 'Hong Kong', 'Adelaide', 'Auckland',
       'Australian Open', 'Montpellier', 'Cordoba', 'Dallas', 'Marseille',
       'Delray Beach', 'Buenos Aires', 'Rotterdam', 'Doha', 'Los Cabos',
       'Rio De Janeiro', 'Acapulco', 'Dubai', 'Santiago',
       'Indian Wells Masters', 'Miami Masters', 'Estoril', 'Houston',
       'Marrakech', 'Monte Carlo Masters', 'Barcelona', 'Munich',
       'Bucharest', 'Madrid Masters', 'Rome Masters', 'Geneva', 'Lyon',
       'Roland Garros', 's Hertogenbosch', 'Stuttgart', 'Halle',
       "Queen's Club", 'Mallorca', 'Eastbourne', 'Wimbledon', 'Gstaad',
       'Hamburg', 'Bastad', 'Newport', 'Atlanta', 'Kitzbuhel', 'Umag',
       'Washington', 'Paris Olympics', 'Canada Masters',
       'Cincinnati Masters', 'Winston-Salem', 'Us Open', 'Chengdu',
       'Hangzhou', 'Laver Cup', 'Tokyo', 'Beijing', 'Shanghai Masters',
       'Almaty', 'Antwerp', 'Stockholm', 'Basel', 'Vienna',
       'Paris Masters', 'Belgrade', 'Metz', 'Tour Finals',
       'Next Gen Finals', 'Davis Cup Finals RR: BEL vs BRA',
       'Davis Cup Finals RR: ITA vs BEL',
       'Davis Cup Finals RR: ITA vs BRA',
       'Davis Cup Finals RR: ITA vs NED',
       'Davis Cup Finals RR: NED vs BEL',
       'Davis Cup Finals RR: NED vs BRA',
       'Davis Cup Finals RR: AUS vs CZE',
       'Davis Cup Finals RR: AUS vs ESP',
       'Davis Cup Finals RR: AUS vs FRA',
       'Davis Cup Finals RR: CZE vs ESP',
       'Davis Cup Finals RR: CZE vs FRA',
       'Davis Cup Finals RR: FRA vs ESP',
       'Davis Cup Finals RR: GER vs CHI',
       'Davis Cup Finals RR: GER vs SVK',
       'Davis Cup Finals RR: GER vs USA',
       'Davis Cup Finals RR: SVK vs CHI',
       'Davis Cup Finals RR: USA vs CHI',
       'Davis Cup Finals RR: USA vs SVK',
       'Davis Cup Finals RR: CAN vs ARG',
       'Davis Cup Finals RR: CAN vs FIN',
       'Davis Cup Finals RR: CAN vs GBR',
       'Davis Cup Finals RR: FIN vs ARG',
       'Davis Cup Finals RR: FIN vs GBR',
       'Davis Cup Finals RR: GBR vs ARG',
       'Davis Cup Finals QF: GER vs CAN',
       'Davis Cup Finals SF: GER vs NED',
       'Davis Cup Finals QF: ITA vs ARG',
       'Davis Cup Finals SF: ITA vs AUS',
       'Davis Cup Finals F: ITA vs NED',
       'Davis Cup Finals QF: NED vs ESP',
       'Davis Cup Finals QF: USA vs AUS', 'Davis Cup QLS R1: ARG vs KAZ',
       'Davis Cup QLS R1: CAN vs KOR', 'Davis Cup QLS R1: CHI vs PER',
       'Davis Cup QLS R1: CRO vs BEL', 'Davis Cup QLS R1: CZE vs ISR',
       'Davis Cup QLS R1: FIN vs POR', 'Davis Cup QLS R1: HUN vs GER',
       'Davis Cup QLS R1: NED vs SUI', 'Davis Cup QLS R1: SRB vs SVK',
       'Davis Cup QLS R1: SWE vs BRA', 'Davis Cup QLS R1: TPE vs FRA',
       'Davis Cup QLS R1: UKR vs USA', 'Davis Cup WG1 R1: AUT vs TUR',
       'Davis Cup WG1 R1: CRO vs LTU', 'Davis Cup WG1 R1: EGY vs HUN',
       'Davis Cup WG1 R1: ISR vs UKR', 'Davis Cup WG1 R1: JPN vs COL',
       'Davis Cup WG1 R1: KAZ vs DEN', 'Davis Cup WG1 R1: NOR vs POR',
       'Davis Cup WG1 R1: POL vs KOR', 'Davis Cup WG1 R1: SRB vs GRE',
       'Davis Cup WG1 R1: SUI vs PER', 'Davis Cup WG1 R1: SWE vs IND',
       'Davis Cup WG1 R1: TPE vs BIH', 'Davis Cup WG1 PO: BUL vs BIH',
       'Davis Cup WG1 PO: COL vs LUX', 'Davis Cup WG1 PO: EGY vs ECU',
       'Davis Cup WG1 PO: GRE vs ROU', 'Davis Cup WG1 PO: IRL vs AUT',
       'Davis Cup WG1 PO: LBN vs JPN', 'Davis Cup WG1 PO: LTU vs GEO',
       'Davis Cup WG1 PO: MEX vs DEN', 'Davis Cup WG1 PO: NOR vs LAT',
       'Davis Cup WG1 PO: NZL vs TUR', 'Davis Cup WG1 PO: PAK vs IND',
       'Davis Cup WG1 PO: UZB vs POL', 'Davis Cup WG2 R1: BAR vs PAK',
       'Davis Cup WG2 R1: BOL vs URU', 'Davis Cup WG2 R1: BUL vs ESA',
       'Davis Cup WG2 R1: GEO vs MEX', 'Davis Cup WG2 R1: HKG vs ECU',
       'Davis Cup WG2 R1: LBN vs RSA', 'Davis Cup WG2 R1: MAR vs MON',
       'Davis Cup WG2 R1: NZL vs LUX', 'Davis Cup WG2 R1: ROU vs CHN',
       'Davis Cup WG2 R1: TOG vs LAT', 'Davis Cup WG2 R1: TUN vs IRL',
       'Davis Cup WG2 R1: UZB vs EST', 'Davis Cup WG2 PO: BOL vs THA',
       'Davis Cup WG2 PO: CHN vs SLO', 'Davis Cup WG2 PO: CYP vs MAR',
       'Davis Cup WG2 PO: ESA vs POC', 'Davis Cup WG2 PO: HKG vs ZIM',
       'Davis Cup WG2 PO: IRI vs EST', 'Davis Cup WG2 PO: JAM vs BAR',
       'Davis Cup WG2 PO: PAR vs MON', 'Davis Cup WG2 PO: TOG vs INA',
       'Davis Cup WG2 PO: TUN vs CRC', 'Davis Cup WG2 PO: URU vs MDA',
       'Davis Cup WG2 PO: VIE vs RSA'], dtype=object)

Tourney names are mostly fine, except davis cup is not well organized.

In [25]:
display(matches_2024_df['tourney_name'].value_counts())

tourney_name
Australian Open                    127
Us Open                            127
Wimbledon                          127
Roland Garros                      127
Rome Masters                        95
                                  ...
Davis Cup Finals QF: USA vs AUS      2
Davis Cup Finals SF: ITA vs AUS      2
Davis Cup Finals F: ITA vs NED       2
Davis Cup Finals QF: NED vs ESP      2
Davis Cup WG2 PO: TUN vs CRC         2
Name: count, Length: 160, dtype: int64

In [38]:
# player participation
print(matches_2024_df['winner_name'].isna().sum())
print(matches_2024_df['loser_name'].isna().sum())

all_players = pd.concat([
    matches_2024_df['winner_name'], matches_2024_df['loser_name']
])
display(all_players.value_counts().head(15))

0
0

Alexander Zverev       90
Jannik Sinner          81
Casper Ruud            78
Taylor Fritz           76
Alex De Minaur         70
Andrey Rublev          70
Lorenzo Musetti        69
Holger Rune            69
Ben Shelton            68
Stefanos Tsitsipas     67
Daniil Medvedev        67
Carlos Alcaraz         67
Arthur Fils            66
Francisco Cerundolo    66
Alex Michelsen         64
Name: count, dtype: int64

All matches have a listed winner and loser

In [42]:
# score analysis
matches_2024_df['score'].isnull().sum()

np.int64(0)

All matches have non-null scores.

In [53]:
# check if player IDs in matches table map to player IDs in players table
matches_pid =pd.concat([
    matches_2024_df['winner_id'], matches_2024_df['loser_id']
])
unique_pid_2024 = matches_pid.dropna().unique()
display(unique_pid_2024)

display(players_df['player_id'])
orphaned = set(unique_pid_2024) - set(players_df['player_id'])
display(orphaned)

array([105777, 208029, 126128, 111442, 105902, 208286, 104745, 208014,
       207686, 105870, 200615, 127760, 106186, 200005, 207830, 127157,
       100644, 128034, 200282, 134770, 200221, 126774, 111797, 126203,
       111815, 105173, 111190, 104925, 106432, 126094, 200325, 209992,
       124116, 209950, 126207, 105138, 200303, 106281, 144817, 200175,
       122298, 105526, 207518, 208103, 207733, 122330, 200624, 126205,
       106331, 106109, 105554, 132283, 105583, 126214, 106121, 210097,
       106148, 124186, 206681, 126845, 132686, 209414, 104792, 144869,
       144719, 200384, 202103, 206173, 207411, 123755, 202104, 206499,
       111575, 207925, 111460, 111153, 209070, 134868, 210150, 106423,
       200000, 126409, 106421, 210506, 206748, 111576, 207989, 111581,
       208004, 208010, 124079, 106005, 105332, 106296, 133430, 209260,
       105487, 105948, 207680, 126523, 105077, 208882, 202058, 106198,
       106218, 136440, 106415, 106045, 126239, 200516, 134457, 208260,
       105430, 131934, 200116, 111513, 104527, 105683, 105916, 105676,
       104755, 104918, 207182, 126846, 208363, 106329, 211663, 205734,
       200335, 106426, 144642, 144895, 207678, 122669, 208134, 104926,
       206909, 106298, 102093, 212021, 126952, 106233, 122554, 123828,
       200267, 200670, 126610, 105477, 200572, 200514, 208279, 200484,
       106398, 209098, 208859, 209279, 109303, 209263, 106234, 208659,
       106075, 109739, 209209, 105453, 202260, 133835, 111456, 126129,
       206703, 200443, 208144, 144750, 202261, 207681, 207985, 208361,
       209857, 200259, 207213, 207608, 106187, 210012, 124187, 202195,
       208118, 210319, 208233, 209903, 202358, 212063, 111805, 106283,
       133975, 105807, 210530, 208502, 209113, 209262, 208230, 144870,
       212044, 105227, 207352, 106034, 105062, 209409, 200059, 133297,
       202320, 211514, 126127, 105732, 210460, 105577, 209860, 200240,
       200436, 144684, 209931, 111200, 127339, 105633, 200218, 200075,
       131951, 209284, 200416, 149282, 210105, 206782, 208843, 200329,
       209863, 105806, 126555, 106000, 123983, 209318, 208210, 200270,
       200711, 202075, 209871, 200748, 209362, 209354, 111192, 208182,
       105575, 209147, 210202, 126340, 208485, 207129, 123795, 106368,
       105502, 144681, 209874, 111794, 105985, 103499, 208364, 105656,
       210200, 210721, 200214, 126762, 105271, 200273, 105714, 106033,
       104112, 211638, 206470, 206589, 133933, 209964, 210686, 144826,
       109734, 210136, 126939, 210178, 123961, 106262, 210274, 209120,
       200611, 210308, 209294, 212720, 138846, 212721, 210312, 200702,
       209080, 209868, 118808, 200473, 207134, 104470, 121411, 212051,
       122533, 144748, 202475, 111454, 105731, 208852, 126964, 208278,
       208597, 210317, 209976, 117360, 208013, 106210, 117357, 105938,
       207494, 106043, 105815, 105449, 208117, 209406, 124014, 200587,
       210464, 105311, 210262, 106310, 209405, 208819, 123809, 209916,
       126535, 200266, 207663, 110751, 126646, 200188, 106214, 200277,
       211902, 209259, 126125, 208169, 126504, 211346, 212082, 105911,
       210053, 111505, 209890, 105819, 105051, 104898, 144909, 202065,
       126177, 208300, 212733, 208021, 111806, 106078, 106072, 209920,
       210696, 211451, 210025, 131905, 210494, 105613, 144814, 122078,
       106167, 210039, 105906, 200418, 200318, 208071, 209907, 200550,
       117356, 210220, 209403, 209191, 207934, 105621, 208293, 144927,
       106220, 210119, 208223, 105877, 209971, 105657, 207660, 212203,
       200279, 206600, 207669, 207587, 212717, 208055, 103529, 207841,
       200672, 210535, 207839, 211570, 212970, 212866, 207132, 209278,
       207794, 104907, 144751, 211571, 149843, 144932, 210382, 106397,
       207788, 210753, 117365, 144949, 127195, 210249, 212718, 212719,
       111761, 144747, 212722, 106085, 202120, 209225, 200045, 132374,
       209869, 209943, 144775])

0        100001
1        100002
2        100003
3        100004
4        100005
          ...
65984    213700
65985    213701
65986    213702
65987    213703
65988    213704
Name: player_id, Length: 65989, dtype: int64

set()

Every player ID in a year's matches map to a listed player ID

In [56]:
# check if playerID in rankings table exists in players table
rankings_ID = rankings_20s_df['player'].dropna().unique()
display(set(rankings_ID) - set(players_df['player_id'].unique()))

set()

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')

# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

# Define data directory
DATA_DIR = Path("./")

print("="*80)
print("TENNIS DATA EXPLORATORY ANALYSIS")
print("="*80)

# ============================================================================
# SECTION 1: LOAD ALL DATASETS
# ============================================================================

print("\n" + "="*80)
print("SECTION 1: LOADING DATASETS")
print("="*80)

# Load players
try:
    df_players = pd.read_csv(DATA_DIR / "atp_players.csv")
    print(f"âœ“ Loaded atp_players.csv: {len(df_players):,} rows")
except Exception as e:
    print(f"âœ— Error loading players: {e}")
    df_players = None

# Load current rankings
try:
    df_rankings_current = pd.read_csv(DATA_DIR / "atp_rankings_current.csv")
    print(f"âœ“ Loaded atp_rankings_current.csv: {len(df_rankings_current):,} rows")
except Exception as e:
    print(f"âœ— Error loading current rankings: {e}")
    df_rankings_current = None

# Load historical rankings
try:
    df_rankings_20s = pd.read_csv(DATA_DIR / "atp_rankings_20s.csv")
    print(f"âœ“ Loaded atp_rankings_20s.csv: {len(df_rankings_20s):,} rows")
except Exception as e:
    print(f"âœ— Error loading 20s rankings: {e}")
    df_rankings_20s = None

# Load 2024 matches
try:
    df_matches_2024 = pd.read_csv(DATA_DIR / "atp_matches_2024.csv")
    print(f"âœ“ Loaded atp_matches_2024.csv: {len(df_matches_2024):,} rows")
except Exception as e:
    print(f"âœ— Error loading 2024 matches: {e}")
    df_matches_2024 = None

# Load 2023 matches (if available)
try:
    df_matches_2023 = pd.read_csv(DATA_DIR / "atp_matches_2023.csv")
    print(f"âœ“ Loaded atp_matches_2023.csv: {len(df_matches_2023):,} rows")
except Exception as e:
    print(f"âœ— Error loading 2023 matches: {e}")
    df_matches_2023 = None

# ============================================================================
# SECTION 2: PLAYERS TABLE ANALYSIS
# ============================================================================

print("\n" + "="*80)
print("SECTION 2: PLAYERS TABLE ANALYSIS")
print("="*80)

if df_players is not None:
    print("\n--- BASIC INFO ---")
    print(f"Total Players: {len(df_players):,}")
    print(f"Total Columns: {len(df_players.columns)}")
    print(f"\nColumn Names:\n{list(df_players.columns)}")
    
    print("\n--- SAMPLE DATA (First 5 rows) ---")
    print(df_players.head())
    
    print("\n--- DATA TYPES ---")
    print(df_players.dtypes)
    
    print("\n--- MISSING VALUES ---")
    missing = df_players.isnull().sum()
    missing_pct = (missing / len(df_players) * 100).round(2)
    missing_df = pd.DataFrame({
        'Missing_Count': missing,
        'Missing_Percent': missing_pct
    })
    print(missing_df[missing_df['Missing_Count'] > 0].sort_values('Missing_Count', ascending=False))
    
    print("\n--- BASIC STATISTICS ---")
    print(df_players.describe(include='all'))
    
    print("\n--- POTENTIAL PRIMARY KEY ANALYSIS ---")
    # Check if player_id is unique
    if 'player_id' in df_players.columns:
        print(f"Total player_id: {len(df_players)}")
        print(f"Unique player_id: {df_players['player_id'].nunique()}")
        print(f"Duplicates: {len(df_players) - df_players['player_id'].nunique()}")
        
        if len(df_players) == df_players['player_id'].nunique():
            print("âœ“ player_id is UNIQUE - can be PRIMARY KEY")
        else:
            print("âœ— player_id has DUPLICATES - investigate further")
            duplicates = df_players[df_players.duplicated(subset=['player_id'], keep=False)]
            print(f"\nDuplicate player_ids:\n{duplicates.head(10)}")
    
    print("\n--- VALUE DISTRIBUTIONS FOR KEY COLUMNS ---")
    categorical_cols = df_players.select_dtypes(include=['object']).columns
    for col in categorical_cols[:5]:  # First 5 categorical columns
        print(f"\n{col} - Top 10 values:")
        print(df_players[col].value_counts().head(10))

# ============================================================================
# SECTION 3: RANKINGS TABLE ANALYSIS
# ============================================================================

print("\n" + "="*80)
print("SECTION 3: RANKINGS TABLE ANALYSIS")
print("="*80)

if df_rankings_current is not None:
    print("\n--- CURRENT RANKINGS ---")
    print(f"Total Records: {len(df_rankings_current):,}")
    print(f"Columns: {list(df_rankings_current.columns)}")
    
    print("\n--- SAMPLE DATA (Top 10 ranked players) ---")
    print(df_rankings_current.head(10))
    
    print("\n--- MISSING VALUES ---")
    missing = df_rankings_current.isnull().sum()
    missing_pct = (missing / len(df_rankings_current) * 100).round(2)
    missing_df = pd.DataFrame({
        'Missing_Count': missing,
        'Missing_Percent': missing_pct
    })
    print(missing_df[missing_df['Missing_Count'] > 0])
    
    print("\n--- DATA TYPES ---")
    print(df_rankings_current.dtypes)

if df_rankings_20s is not None:
    print("\n--- HISTORICAL RANKINGS (2020s) ---")
    print(f"Total Records: {len(df_rankings_20s):,}")
    print(f"Columns: {list(df_rankings_20s.columns)}")
    
    # Check date column
    if 'ranking_date' in df_rankings_20s.columns:
        df_rankings_20s['ranking_date'] = pd.to_datetime(df_rankings_20s['ranking_date'])
        print(f"\nDate Range: {df_rankings_20s['ranking_date'].min()} to {df_rankings_20s['ranking_date'].max()}")
        print(f"Unique Dates: {df_rankings_20s['ranking_date'].nunique()}")
        print(f"Records per Date (avg): {len(df_rankings_20s) / df_rankings_20s['ranking_date'].nunique():.0f}")
    
    print("\n--- GRAIN ANALYSIS (What does one row represent?) ---")
    # Check if combination of date + player is unique
    if 'ranking_date' in df_rankings_20s.columns and 'player' in df_rankings_20s.columns:
        total_rows = len(df_rankings_20s)
        unique_combos = df_rankings_20s.groupby(['ranking_date', 'player']).size().count()
        print(f"Total rows: {total_rows:,}")
        print(f"Unique (date + player) combinations: {unique_combos:,}")
        if total_rows == unique_combos:
            print("âœ“ Grain is: ONE ranking per player per date")
        else:
            print("âœ— Duplicates exist - grain is unclear")
    
    print("\n--- SAMPLE DATA ---")
    print(df_rankings_20s.head(10))

# ============================================================================
# SECTION 4: MATCHES TABLE ANALYSIS
# ============================================================================

print("\n" + "="*80)
print("SECTION 4: MATCHES TABLE ANALYSIS")
print("="*80)

if df_matches_2024 is not None:
    print("\n--- 2024 MATCHES ---")
    print(f"Total Matches: {len(df_matches_2024):,}")
    print(f"Total Columns: {len(df_matches_2024.columns)}")
    print(f"\nColumn Names:\n{list(df_matches_2024.columns)}")
    
    print("\n--- SAMPLE DATA (First 3 matches) ---")
    print(df_matches_2024.head(3).T)  # Transpose for better readability
    
    print("\n--- DATA TYPES ---")
    print(df_matches_2024.dtypes)
    
    print("\n--- MISSING VALUES (Top 20 columns) ---")
    missing = df_matches_2024.isnull().sum()
    missing_pct = (missing / len(df_matches_2024) * 100).round(2)
    missing_df = pd.DataFrame({
        'Missing_Count': missing,
        'Missing_Percent': missing_pct
    })
    print(missing_df[missing_df['Missing_Count'] > 0].sort_values('Missing_Count', ascending=False).head(20))
    
    # Date analysis
    if 'tourney_date' in df_matches_2024.columns:
        # Try to parse date
        df_matches_2024['tourney_date_parsed'] = pd.to_datetime(
            df_matches_2024['tourney_date'], 
            format='%Y%m%d', 
            errors='coerce'
        )
        print(f"\n--- DATE RANGE ---")
        print(f"First Match: {df_matches_2024['tourney_date_parsed'].min()}")
        print(f"Last Match: {df_matches_2024['tourney_date_parsed'].max()}")
        print(f"Date Span: {(df_matches_2024['tourney_date_parsed'].max() - df_matches_2024['tourney_date_parsed'].min()).days} days")
    
    # Tournament analysis
    if 'tourney_name' in df_matches_2024.columns:
        print(f"\n--- TOURNAMENT ANALYSIS ---")
        print(f"Unique Tournaments: {df_matches_2024['tourney_name'].nunique()}")
        print(f"\nTop 10 Tournaments by Match Count:")
        print(df_matches_2024['tourney_name'].value_counts().head(10))
    
    # Player analysis
    winner_col = [col for col in df_matches_2024.columns if 'winner' in col.lower() and 'name' in col.lower()]
    loser_col = [col for col in df_matches_2024.columns if 'loser' in col.lower() and 'name' in col.lower()]
    
    if winner_col and loser_col:
        print(f"\n--- PLAYER PARTICIPATION ---")
        winner_col = winner_col[0]
        loser_col = loser_col[0]
        
        all_players = pd.concat([
            df_matches_2024[winner_col],
            df_matches_2024[loser_col]
        ])
        print(f"Unique Players in 2024: {all_players.nunique()}")
        print(f"\nMost Active Players (by matches):")
        print(all_players.value_counts().head(10))
    
    # Score analysis
    score_col = [col for col in df_matches_2024.columns if 'score' in col.lower()]
    if score_col:
        print(f"\n--- SCORE COMPLETENESS ---")
        print(f"Matches with scores: {df_matches_2024[score_col[0]].notna().sum():,}")
        print(f"Matches without scores: {df_matches_2024[score_col[0]].isna().sum():,}")

# ============================================================================
# SECTION 5: RELATIONSHIP ANALYSIS
# ============================================================================

print("\n" + "="*80)
print("SECTION 5: RELATIONSHIP ANALYSIS")
print("="*80)

# Check if player IDs in matches exist in players table
if df_players is not None and df_matches_2024 is not None:
    print("\n--- FOREIGN KEY VALIDATION: Matches â†’ Players ---")
    
    # Find winner/loser ID columns
    winner_id_col = [col for col in df_matches_2024.columns if 'winner_id' in col.lower()]
    loser_id_col = [col for col in df_matches_2024.columns if 'loser_id' in col.lower()]
    
    if winner_id_col and loser_id_col and 'player_id' in df_players.columns:
        winner_id_col = winner_id_col[0]
        loser_id_col = loser_id_col[0]
        
        all_match_player_ids = pd.concat([
            df_matches_2024[winner_id_col],
            df_matches_2024[loser_id_col]
        ]).dropna().unique()
        
        player_ids_in_master = df_players['player_id'].unique()
        
        print(f"Unique player IDs in matches: {len(all_match_player_ids):,}")
        print(f"Unique player IDs in players table: {len(player_ids_in_master):,}")
        
        # Find orphaned IDs
        orphaned = set(all_match_player_ids) - set(player_ids_in_master)
        print(f"Player IDs in matches but NOT in players table: {len(orphaned):,}")
        
        if len(orphaned) > 0:
            print(f"Sample orphaned IDs: {list(orphaned)[:10]}")

# Check if player IDs in rankings exist in players table
if df_players is not None and df_rankings_current is not None:
    print("\n--- FOREIGN KEY VALIDATION: Rankings â†’ Players ---")
    
    if 'player' in df_rankings_current.columns and 'player_id' in df_players.columns:
        ranking_player_ids = df_rankings_current['player'].dropna().unique()
        player_ids_in_master = df_players['player_id'].unique()
        
        print(f"Unique player IDs in rankings: {len(ranking_player_ids):,}")
        print(f"Unique player IDs in players table: {len(player_ids_in_master):,}")
        
        orphaned = set(ranking_player_ids) - set(player_ids_in_master)
        print(f"Player IDs in rankings but NOT in players table: {len(orphaned):,}")
        
        if len(orphaned) > 0:
            print(f"Sample orphaned IDs: {list(orphaned)[:10]}")

# ============================================================================
# SECTION 6: DATA QUALITY ISSUES
# ============================================================================

print("\n" + "="*80)
print("SECTION 6: DATA QUALITY ISSUES SUMMARY")
print("="*80)

print("\n--- ISSUES TO ADDRESS ---")
issues = []

if df_players is not None:
    # Check for duplicates
    if 'player_id' in df_players.columns:
        dupes = len(df_players) - df_players['player_id'].nunique()
        if dupes > 0:
            issues.append(f"Players: {dupes} duplicate player_ids")
    
    # Check missing critical fields
    critical_cols = ['player_id', 'name_first', 'name_last']
    for col in critical_cols:
        if col in df_players.columns:
            missing = df_players[col].isna().sum()
            if missing > 0:
                issues.append(f"Players: {missing} missing {col}")

if df_matches_2024 is not None:
    # Check for matches without scores
    score_cols = [col for col in df_matches_2024.columns if 'score' in col.lower()]
    if score_cols:
        missing_scores = df_matches_2024[score_cols[0]].isna().sum()
        if missing_scores > 0:
            issues.append(f"Matches 2024: {missing_scores} matches without scores ({missing_scores/len(df_matches_2024)*100:.1f}%)")

if len(issues) == 0:
    print("âœ“ No major data quality issues detected!")
else:
    for i, issue in enumerate(issues, 1):
        print(f"{i}. {issue}")

print("\n" + "="*80)
print("ANALYSIS COMPLETE")
print("="*80)

================================================================================
TENNIS DATA EXPLORATORY ANALYSIS
================================================================================

================================================================================
SECTION 1: LOADING DATASETS
================================================================================
âœ“ Loaded atp_players.csv: 65,989 rows
âœ“ Loaded atp_rankings_current.csv: 92,341 rows
âœ“ Loaded atp_rankings_20s.csv: 332,942 rows
âœ“ Loaded atp_matches_2024.csv: 3,076 rows
âœ— Error loading 2023 matches: [Errno 2] No such file or directory: 'atp_matches_2023.csv'

================================================================================
SECTION 2: PLAYERS TABLE ANALYSIS
================================================================================

--- BASIC INFO ---
Total Players: 65,989
Total Columns: 8

Column Names:
['player_id', 'name_first', 'name_last', 'hand', 'dob', 'ioc', 'height', 'wikidata_id']

--- SAMPLE DATA (First 5 rows) ---
   player_id name_first name_last hand         dob  ioc  height wikidata_id
0     100001    Gardnar    Mulloy    R  19131122.0  USA   185.0      Q54544
1     100002     Pancho    Segura    R  19210620.0  ECU   168.0      Q54581
2     100003      Frank   Sedgman    R  19271002.0  AUS   180.0     Q962049
3     100004   Giuseppe     Merlo    R  19271011.0  ITA     NaN    Q1258752
4     100005    Richard  Gonzalez    R  19280509.0  USA   188.0      Q53554

--- DATA TYPES ---
player_id        int64
name_first      object
name_last       object
hand            object
dob            float64
ioc             object
height         float64
wikidata_id     object
dtype: object

--- MISSING VALUES ---
             Missing_Count  Missing_Percent
height               61830            93.70
wikidata_id          61095            92.58
dob                  18402            27.89
name_first             921             1.40
ioc                    670             1.02
name_last               48             0.07
hand                    16             0.02

--- BASIC STATISTICS ---
            player_id name_first name_last   hand           dob    ioc  \
count    65989.000000      65068     65941  65973  4.758700e+04  65319
unique            NaN      14488     40250      4           NaN    228
top               NaN      David     Smith      U           NaN    USA
freq              NaN        594       170  47800           NaN  13228
mean    142929.612435        NaN       NaN    NaN  1.981632e+07    NaN
std      35442.144892        NaN       NaN    NaN  2.012633e+05    NaN
min     100001.000000        NaN       NaN    NaN  1.834000e+07    NaN
25%     116513.000000        NaN       NaN    NaN  1.977013e+07    NaN
50%     133010.000000        NaN       NaN    NaN  1.985110e+07    NaN
75%     149508.000000        NaN       NaN    NaN  1.994011e+07    NaN
max     213704.000000        NaN       NaN    NaN  2.023041e+07    NaN

             height wikidata_id
count   4159.000000        4894
unique          NaN        4825
top             NaN  Q102191659
freq            NaN           2
mean     183.478480         NaN
std        9.346412         NaN
min        3.000000         NaN
25%      180.000000         NaN
50%      183.000000         NaN
75%      188.000000         NaN
max      211.000000         NaN

--- POTENTIAL PRIMARY KEY ANALYSIS ---
Total player_id: 65989
Unique player_id: 65989
Duplicates: 0
âœ“ player_id is UNIQUE - can be PRIMARY KEY

--- VALUE DISTRIBUTIONS FOR KEY COLUMNS ---

name_first - Top 10 values:
name_first
David        594
Daniel       538
John         493
Michael      436
Peter        386
Robert       369
Alexander    318
Carlos       297
Martin       296
Paul         279
Name: count, dtype: int64

name_last - Top 10 values:
name_last
Smith        170
Lee          145
Kim          128
Williams     102
Brown        101
Johnson       99
Martin        86
Rodriguez     86
Jones         84
Taylor        80
Name: count, dtype: int64

hand - Top 10 values:
hand
U    47800
R    16594
L     1566
A       13
Name: count, dtype: int64

ioc - Top 10 values:
ioc
USA    13228
AUS     3285
GBR     3281
ESP     3081
GER     2742
ITA     2726
FRA     2648
BRA     2104
ARG     1760
MEX     1342
Name: count, dtype: int64

wikidata_id - Top 10 values:
wikidata_id
Q102191659    2
Q369243       2
Q51066        2
Q520836       2
Q1563886      2
Q1258917      2
Q2040551      2
Q3974157      2
Q2740863      2
Q102346559    2
Name: count, dtype: int64

================================================================================
SECTION 3: RANKINGS TABLE ANALYSIS
================================================================================

--- CURRENT RANKINGS ---
Total Records: 92,341
Columns: ['ranking_date', 'rank', 'player', 'points']

--- SAMPLE DATA (Top 10 ranked players) ---
   ranking_date  rank  player  points
0      20240101     1  104925   11245
1      20240101     2  207989    8855
2      20240101     3  106421    7600
3      20240101     4  206173    6490
4      20240101     5  126094    4805
5      20240101     6  126774    4235
6      20240101     7  100644    3985
7      20240101     8  208029    3660
8      20240101     9  128034    3245
9      20240101    10  126203    3100

--- MISSING VALUES ---
Empty DataFrame
Columns: [Missing_Count, Missing_Percent]
Index: []

--- DATA TYPES ---
ranking_date    int64
rank            int64
player          int64
points          int64
dtype: object

--- HISTORICAL RANKINGS (2020s) ---
Total Records: 332,942
Columns: ['ranking_date', 'rank', 'player', 'points']

Date Range: 1970-01-01 00:00:00.020200106 to 1970-01-01 00:00:00.020231225
Unique Dates: 162
Records per Date (avg): 2055

--- GRAIN ANALYSIS (What does one row represent?) ---
Total rows: 332,942
Unique (date + player) combinations: 332,458
âœ— Duplicates exist - grain is unclear

--- SAMPLE DATA ---
                   ranking_date  rank  player  points
0 1970-01-01 00:00:00.020200106     1  104745    9985
1 1970-01-01 00:00:00.020200106     2  104925    9055
2 1970-01-01 00:00:00.020200106     3  103819    6590
3 1970-01-01 00:00:00.020200106     4  106233    5825
4 1970-01-01 00:00:00.020200106     5  106421    5705
5 1970-01-01 00:00:00.020200106     6  126774    5300
6 1970-01-01 00:00:00.020200106     7  100644    3345
7 1970-01-01 00:00:00.020200106     8  126610    2870
8 1970-01-01 00:00:00.020200106     9  104792    2530
9 1970-01-01 00:00:00.020200106    10  105138    2335

================================================================================
SECTION 4: MATCHES TABLE ANALYSIS
================================================================================

--- 2024 MATCHES ---
Total Matches: 3,076
Total Columns: 49

Column Names:
['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level', 'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry', 'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age', 'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points']

--- SAMPLE DATA (First 3 matches) ---
                                  0                1                2
tourney_id                2024-0339        2024-0339        2024-0339
tourney_name               Brisbane         Brisbane         Brisbane
surface                        Hard             Hard             Hard
draw_size                        32               32               32
tourney_level                     A                A                A
tourney_date               20240101         20240101         20240101
match_num                       300              299              298
winner_id                    105777           208029           105777
winner_seed                     2.0              1.0              2.0
winner_entry                    NaN              NaN              NaN
winner_name         Grigor Dimitrov      Holger Rune  Grigor Dimitrov
winner_hand                       R                R                R
winner_ht                     191.0            188.0            191.0
winner_ioc                      BUL              DEN              BUL
winner_age                     32.6             20.6             32.6
loser_id                     208029           126128           111442
loser_seed                      1.0              NaN              NaN
loser_entry                     NaN              NaN              NaN
loser_name              Holger Rune  Roman Safiullin  Jordan Thompson
loser_hand                        R                R                R
loser_ht                      188.0            185.0            183.0
loser_ioc                       DEN              RUS              AUS
loser_age                      20.6             26.4             29.7
score                    7-6(5) 6-4       6-4 7-6(0)          6-3 7-5
best_of                           3                3                3
round                             F               SF               SF
minutes                       136.0             97.0            109.0
w_ace                           8.0              7.0             10.0
w_df                            2.0              4.0              3.0
w_svpt                         74.0             72.0             67.0
w_1stIn                        52.0             48.0             45.0
w_1stWon                       40.0             39.0             39.0
w_2ndWon                       13.0             11.0             10.0
w_SvGms                        11.0             11.0             11.0
w_bpSaved                       3.0              1.0              6.0
w_bpFaced                       3.0              2.0              6.0
l_ace                           9.0              5.0              5.0
l_df                            3.0              5.0              1.0
l_svpt                         95.0             66.0             62.0
l_1stIn                        58.0             35.0             39.0
l_1stWon                       44.0             31.0             24.0
l_2ndWon                       16.0             10.0             14.0
l_SvGms                        11.0             11.0             10.0
l_bpSaved                       8.0              5.0              5.0
l_bpFaced                       9.0              7.0              7.0
winner_rank                    14.0              8.0             14.0
winner_rank_points           2570.0           3660.0           2570.0
loser_rank                      8.0             39.0             55.0
loser_rank_points            3660.0           1122.0            902.0

--- DATA TYPES ---
tourney_id             object
tourney_name           object
surface                object
draw_size               int64
tourney_level          object
tourney_date            int64
match_num               int64
winner_id               int64
winner_seed           float64
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
loser_id                int64
loser_seed            float64
loser_entry            object
loser_name             object
loser_hand             object
loser_ht              float64
loser_ioc              object
loser_age             float64
score                  object
best_of                 int64
round                  object
minutes               float64
w_ace                 float64
w_df                  float64
w_svpt                float64
w_1stIn               float64
w_1stWon              float64
w_2ndWon              float64
w_SvGms               float64
w_bpSaved             float64
w_bpFaced             float64
l_ace                 float64
l_df                  float64
l_svpt                float64
l_1stIn               float64
l_1stWon              float64
l_2ndWon              float64
l_SvGms               float64
l_bpSaved             float64
l_bpFaced             float64
winner_rank           float64
winner_rank_points    float64
loser_rank            float64
loser_rank_points     float64
dtype: object

--- MISSING VALUES (Top 20 columns) ---
              Missing_Count  Missing_Percent
winner_entry           2599            84.49
loser_entry            2358            76.66
loser_seed             2319            75.39
winner_seed            1782            57.93
minutes                 238             7.74
l_SvGms                  61             1.98
w_SvGms                  61             1.98
w_1stWon                 60             1.95
w_1stIn                  60             1.95
w_2ndWon                 60             1.95
w_svpt                   60             1.95
w_bpSaved                60             1.95
w_bpFaced                60             1.95
w_ace                    60             1.95
w_df                     60             1.95
l_1stWon                 60             1.95
l_2ndWon                 60             1.95
l_bpSaved                60             1.95
l_bpFaced                60             1.95
l_df                     60             1.95

--- DATE RANGE ---
First Match: 2024-01-01 00:00:00
Last Match: 2024-12-18 00:00:00
Date Span: 352 days

--- TOURNAMENT ANALYSIS ---
Unique Tournaments: 160

Top 10 Tournaments by Match Count:
tourney_name
Australian Open         127
Us Open                 127
Wimbledon               127
Roland Garros           127
Rome Masters             95
Madrid Masters           95
Miami Masters            95
Indian Wells Masters     95
Shanghai Masters         95
Paris Olympics           64
Name: count, dtype: int64

--- PLAYER PARTICIPATION ---
Unique Players in 2024: 443

Most Active Players (by matches):
Alexander Zverev      90
Jannik Sinner         81
Casper Ruud           78
Taylor Fritz          76
Alex De Minaur        70
Andrey Rublev         70
Lorenzo Musetti       69
Holger Rune           69
Ben Shelton           68
Stefanos Tsitsipas    67
Name: count, dtype: int64

--- SCORE COMPLETENESS ---
Matches with scores: 3,076
Matches without scores: 0

================================================================================
SECTION 5: RELATIONSHIP ANALYSIS
================================================================================

--- FOREIGN KEY VALIDATION: Matches â†’ Players ---
Unique player IDs in matches: 443
Unique player IDs in players table: 65,989
Player IDs in matches but NOT in players table: 0

--- FOREIGN KEY VALIDATION: Rankings â†’ Players ---
Unique player IDs in rankings: 2,612
Unique player IDs in players table: 65,989
Player IDs in rankings but NOT in players table: 0

================================================================================
SECTION 6: DATA QUALITY ISSUES SUMMARY
================================================================================

--- ISSUES TO ADDRESS ---
1. Players: 921 missing name_first
2. Players: 48 missing name_last

================================================================================
ANALYSIS COMPLETE
================================================================================